.flight-board__column_type {
	width: 11%;
}

.flight-board__column_number {
	width: 12%;
}

.flight-board__column_airline {
	display: none;
}

.flight-board__column_logo {
	width: 20%;
}

.flight-board__column_aircraft {
	width: 13%;
}

.flight-board__column_destination {
	width: 17%;
}

.flight-board__column_time {
	width: 12%;
}

.flight-board__column_status {
	width: 15%;
}

.flight-board__column_spec {
	display: none;
}
