.table__column_type {
  width: 11%;
}

.table__column_number {
  width: 12%;
}

.table__column_airline {
  display: none;
}

.table__column_logo {
  width: 20%;
}

.table__column_aircraft {
  width: 13%;
}

.table__column_destination {
  width: 17%;
}

.table__column_time {
  width: 12%;
}

.table__column_status {
  width: 15%;
}

.table__column_spec {
  display: none;
}
