.flight-board {
	width: 100%;

	&__header {
		display: table;
		width: 100%;
	}

	&__body {
		overflow: hidden;
	}

	&__row {
		display: table;
		width: 100%;

		&_odd {
			background-color: rgba(204, 204, 204, 0.1);
		}

		&:hover {
			background-color: rgba(255, 252, 170, 1);
		}

		&_link {
			color: inherit;
			text-decoration: none;

			&:visited {
				color: inherit;
			}

			&:active {
				color: inherit;
			}

			&:hover {
				color: inherit;
			}
		}
	}

	&__column {
		&_type {
			width: 6%;
		}

		&_number {
			width: 7%;
		}

		&_airline {
			width: 15%;
		}

		&_logo {
			width: 15%;
		}

		&_aircraft {
			width: 13%;
		}

		&_destination {
			width: 12%;
		}

		&_time {
			width: 10%;
		}

		&_status {
			width: 10%;
		}

		&_spec {
			width: 12%;
		}
	}

	&__cell {
		position: relative;
		display: table-cell;
		text-align: center;
		padding: 10px 0;
		vertical-align: middle;

		&_highlight {
			&:hover::after {
				content: "";
				position: absolute;
				background-color: #FFFCAA;
				left: 0;
				top: -5000px;
				height: 10000px;
				width: 100%;
				z-index: -1;
			}
		}
	}

	&__cell-image {
		max-width: 100%;
	}

	&__cell-text {
		&_short {
			display: none;
		}

		&_long {
			display: inline;
		}
	}

	//&__control-departure:not(:checked) ~ .flight-board__body {
	//	.flight-board__departure {
	//		display: none;
	//	}
	//}
	//
	//&__control-arrival:not(:checked) ~ .flight-board__body {
	//	.flight-board__arrival {
	//		display: none;
	//	}
	//}

	&__control-departure:not(:checked) ~ * {
		.flight-board__departure {
			display: none;
		}

		.flight-board__checkbox-departure::after {
			content: "";
		}
	}

	&__control-arrival:not(:checked) ~ * {
		.flight-board__arrival {
			display: none;
		}

		.flight-board__checkbox-arrival::after {
			content: "";
		}
	}
}
